body{
    background-color: rgb(44, 44, 44);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
input,button{
    border-radius: 20px;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(44, 44, 44);
    color: white;
    

}
input[type="text"]{
    padding: 2px;
}
input{
    margin-right: 5px;
    width: 10%;
    text-align: center;
    
}
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }
h2{
    color: white;
    letter-spacing: 1px;
}
p{
    color: white;
}
.divactive,.divnotactive{
    margin: auto;
    margin-top: 10px;
    display: block;

    border-radius: 10px;
    height: 300px;
    
   
}
.divnotactive{
    margin-top: 60px;
}
.containerActive,.containerDone{
    overflow-y:auto;
    height: 300px;
    border:1px solid rgb(255, 255, 255);
    border-radius: 1px;
    width: 45%;
    margin:auto;
    border-radius: 5px;
}
b{
    color: red;
}
button{
    padding: 5px;
}